@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: "EB Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf9f2;
}

main {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    at 50% 100%,
    #873740 0%,
    #272730 40%,
    #171720 80%,
    #070710 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
