.contributionSection {
  width: 100%;
  padding: 24px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* min-height: 600px; */
}

.terms > p {
  line-height: 1.4;
}

.inputs {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs > div {
  width: 275px;
   display:grid;
   grid-template-columns: 1fr auto;
   align-items: center;
}

input { 
    font-family: "Roboto Mono";
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    padding: 4px;
}

.input {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
}

textarea {
      font-family: "Roboto Mono";
      /* display: inline-block; */
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.8);
      padding: 4px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

/* input:required::before {
    content: "*****************";
    color: red;
    z-index: 123123123;
    width: 1000px;
    background: red;
    height: 400px;
    top: 45px;
    right: 0px;
} */

.actionsContainer {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}

.signContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.verifyContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: left;
}

.verifyContainer > p {
  width: 100%;
}

.verifyContainer > p:first-child {
  padding-top: 0;
}

.verifyActions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contributionContainer {
  margin-top: 24px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
}

.selects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.responseInput {
  margin-top: 12px;
}

.errorContainer {
  margin-top: 12px;
}

ul {
  margin-left: 4px;
}

ul > li:not(:first-child) {
  margin-top: 10px;
}

.metaText {
  font-size: 100%;
}

.signAttribution {
  background: #496581;
  font-size: 1.2rem;
}


.contributionsPreview {
  margin-top: 24px;
  /* padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3); */
}


.pageProgressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageProgress {
  margin: 0 24px;
  width: 70px;
  height:4px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

.selectedPageProgress {
  background: #ffffff;
}

.twitterSteps {
  grid-template-columns: auto auto;
  grid-gap: 8px;
}
