.contributionSection {
  width: 100%;
}

.termsOfUseContainer {
  padding: 24px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.terms > p {
  line-height: 1.4;
}

.actionsContainer {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}

.actionsContainer button {
  margin: 0 6px;
}

.signContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contributionContainer {
  margin-top: 24px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
}

.selects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.patternSelect {
  margin: 0 6px;
}

.responseInput {
  margin: 0 6px;
}

.errorContainer {
  margin-top: 12px;
}

ul {
  margin-left: 4px;
}

ul > li:not(:first-child) {
  margin-top: 10px;
}

.metaText {
  font-size: 100%;
}
