.contributionCardContainer {
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 260px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* TODO: add blur back after playing fixing z-index issue where blob contributions canvas is getting rendered behind */
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.contributionCardContainer > h2 {
  margin-bottom: 12px;
}

.contributionCardContainer p {
  font-size: 1rem;
  padding-top: 0px;
}

.contributionCardContainer canvas {
  height: auto !important;
}

.attribution {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.author {
  font-weight: bold;
  color: rgb(198, 142, 255);
}

/**
 * COMPACT CONTRIBUTION STYLES
 */

.compactContributionCardContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 260px;
  position: relative;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px); */
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.responseContainerContributionCard {
  overflow-y: scroll;
}

.compactContributionCardContainer .response {
  z-index: 10;
  /* overflow-y:clip;
  text-overflow:ellipsis;
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* NOTE: this needs to change with the height of compact card */
  /* -webkit-line-clamp: 8; */
}

.blobSingleContainer {
  position: absolute;
  height: 100px;
  width: 150px;
  left: 80px;
  top: 25%;
  opacity: 0.5;
}

.compactContributionCardContainer > h2 {
  margin-bottom: 12px;
}

.compactContributionCardContainer p {
  font-size: 1rem;
  padding-top: 0px;
}

.compactContributionCardContainer canvas {
  height: auto !important;
}
