.contributionCardContainer {
  /* max-width:350px; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 250px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.contributionCardContainer > h2 {
  margin-bottom: 12px;
}

.contributionCardContainer p {
  font-size: 1rem;
  padding-top: 0px;
}

.contributionCardContainer canvas {
  height: auto !important;
}

.attribution {
  margin-top: auto;
  text-align: right;
}

.author {
  font-weight: bold;
  color: rgb(198, 142, 255);
}
