.banner {
    /* position: fixed; */
    /* top: 0px; */
    width: 100%;
    background: #496581;
    padding: 24px;
    /* z-index: 1000; */
}


.banner > p {
    padding-top: 0px;
    font-size: 1.2rem !important;
}
