article {
  counter-reset: footnote;
}

.footnote::after {
  counter-increment: footnote;
  content: counter(footnote);
  font-size: 1rem;
  display: inline-block;
  position: relative;
  top: -9px;
  right: -2px;
  color: rgb(198, 142, 255);
}

.footnote {
}

.footnote-content {
  z-index: 4;
  position: absolute;
  color: white;
  font-size: 0.85rem;
  margin-top: 2px !important;
  padding-left: 25px;
  right: 4%;
  text-transform: none;
  width: 340px;
  margin-top: -30px;
}

.footnote-content-left {
  left: 4%;
}

.footnote-content-right {
  right: 7%;
}

.footnote-content::before {
  counter-increment: footnote-content;
  content: counter(footnote-content);
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  top: -8px;
  right: 5px;
  color: rgb(198, 142, 255);
}

.footnote-content-mobile {
  display: none;
}

/* TODO: for now hide footnotes on small screens */
@media only screen and (max-width: 1500px) {
  .footnote {
    cursor: pointer;
    border-bottom: rgb(198, 142, 255) solid 1px;
    position: relative;
  }
  .footnote-content {
    display: none;
  }
  .footnote-content-mobile {
    background-color: black;
    font-size: 1rem;
    padding: 1.5rem;
    z-index: 4;
    display: initial;
    position: absolute;
    text-transform: none;
    width: 340px;
    top: 2.2rem;
    left: 0;
  }
}
