article {
  counter-reset: footnote;
}

.footnote {
  display: inline;
}

.footnote-text {
  text-decoration: underline dotted var(--accent-dimmer) 2px;
}

.footnote::after {
  text-indent: 0;
  counter-increment: footnote;
  content: counter(footnote);
  font-size: var(--font-size-default);
  display: inline-block;
  position: relative;
  top: -9px;
  right: -2px;
  color: var(--accent-default);
  box-sizing: border-box;
  background-color: rgba(198, 142, 255, 0);
  border: 1px solid rgba(198, 142, 255, 0);
  border-radius: 2px;
  transition: all 0.4s ease;
  line-height: 0.9rem;
  padding: 0.05rem 0.1rem;
}

.footnote:hover > .footnote-content,
.footnote.expanded > .footnote-content {
  opacity: 1;
  user-select: text;
  max-height: 50vh;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 50%,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 1))
  );
}

.footnote:hover::after,
.footnote:hover .footnote-content::before {
  background-color: var(--accent-dimmest);
  border: 1px solid var(--accent-default);
}

p:hover .footnote-content {
  opacity: 0.5;
  max-height: 50vh;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 50%,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 1))
  );
}

.footnote-content {
  text-indent: 0;
  opacity: 0.3;
  transition: opacity 0.8s ease, max-height 0.4s ease;
  z-index: 4;
  position: absolute;
  color: white;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 50%,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  font-size: 1rem;
  display: inline;

  line-height: 1.5rem;
  max-height: calc(3 * 1.5rem);
  overflow: hidden;
  padding-top: 3px;

  padding-left: 25px;
  right: 4%;
  text-transform: none;
  width: 400px;
  margin-top: -30px;
  user-select: none;
  text-overflow: ellipsis;
}

.footnote-content::after {
  position: absolute;
  content: "...";
  inset-block-end: 0;
  inset-inline-end: -1.5rem;
}

.footnote-content-left {
  left: 5%;
}

.footnote-content-right {
  right: 5%;
}

.footnote-content::before {
  counter-increment: footnote-content;
  content: counter(footnote-content);
  font-size: 1rem;
  display: inline-block;
  position: relative;
  top: -6px;
  right: 5px;
  color: rgb(198, 142, 255);
  box-sizing: border-box;
  background-color: rgba(198, 142, 255, 0);
  border: 1px solid rgba(198, 142, 255, 0);
  border-radius: 2px;
  transition: all 0.4s ease;
  line-height: 0.9rem;
  padding: 0.05rem 0.1rem;
}

.footnote-content-mobile {
  display: none;
}

strong {
  color: var(--foreground-default);
}

/* TODO: for now hide footnotes on small screens */
@media only screen and (max-width: 1650px) {
  .footnote {
    cursor: pointer;
    position: relative;
  }
  .footnote-content {
    display: none;
  }
  .footnote-content-mobile {
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    padding: var(--space-16);
    z-index: 4;
    display: initial;
    position: absolute;
    text-transform: none;
    width: 340px;
    top: 2.2rem;
    left: 0;
    border-radius: var(--border-radius-8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}
