article {
  counter-reset: footnote;
}

.footnote {
  display: inline;
}

.footnote-text {
  text-decoration: underline dotted rgba(198, 142, 255, 0.7) 2px;
}

.footnote::after {
  counter-increment: footnote;
  content: counter(footnote);
  font-size: 1rem;
  display: inline-block;
  position: relative;
  top: -9px;
  right: -2px;
  color: rgb(198, 142, 255);
  box-sizing: border-box;
  background-color: rgba(198, 142, 255, 0);
  border: 1px solid rgba(198, 142, 255, 0);
  border-radius: 2px;
  transition: all 0.4s ease;
  line-height: 0.9rem;
  padding: 0.05rem 0.1rem;
}

.footnote:hover > .footnote-content, .footnote.expanded > .footnote-content {
  opacity: 1;
  user-select: text;
  max-height: 50vh;
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
}

.footnote:hover::after, .footnote:hover .footnote-content::before {
  background-color: rgba(198, 142, 255, 0.3);
  border: 1px solid rgb(198, 142, 255);
}

p:hover .footnote-content {
  opacity: 0.5;
  max-height: 50vh;
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
}

.footnote-content {
  opacity: 0.3;
  transition: opacity 0.8s ease, max-height 0.4s ease;
  z-index: 4;
  position: absolute;
  color: white;

  font-size: 1rem;
  display: inline;
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

  line-height: 1.5rem;
  max-height: calc(3 * 1.5rem);
  overflow: hidden;
  padding-top: 3px;

  padding-left: 25px;
  right: 4%;
  text-transform: none;
  width: 400px;
  margin-top: -30px;
  user-select: none;
  text-overflow: ellipsis;
}

.footnote-content::after {
  position: absolute;
  content: "...";
  inset-block-end: 0;
  inset-inline-end: -1.5rem;
}

.footnote-content-left {
  left: 5%;
}

.footnote-content-right {
  right: 5%;
}

.footnote-content::before {
  counter-increment: footnote-content;
  content: counter(footnote-content);
  font-size: 1rem;
  display: inline-block;
  position: relative;
  top: -6px;
  right: 5px;
  color: rgb(198, 142, 255);
  box-sizing: border-box;
  background-color: rgba(198, 142, 255, 0);
  border: 1px solid rgba(198, 142, 255, 0);
  border-radius: 2px;
  transition: all 0.4s ease;
  line-height: 0.9rem;
  padding: 0.05rem 0.1rem;
}

.footnote-content-mobile {
  display: none;
}

/* TODO: for now hide footnotes on small screens */
@media only screen and (max-width: 1650px) {
  .footnote {
    cursor: pointer;
    position: relative;
  }
  .footnote-content {
    display: none;
  }
  .footnote-content-mobile {
    background-color: black;
    font-size: 1rem;
    padding: 1.5rem;
    z-index: 4;
    display: initial;
    position: absolute;
    text-transform: none;
    width: 340px;
    top: 2.2rem;
    left: 0;
  }
}
