.shimmer {
  text-align: center;

  background: linear-gradient(
      90deg,
      #0000 33%,
      rgba(255, 255, 255, 0.5) 50%,
      #0000 66%
    )
    rebeccapurple;
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
