.signatureContainer {
    width: 100%;
    padding: 24px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: column;
}

.signature {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.display {
    display:flex;
    flex-direction: column;
}

.date {
    font-size: 1rem;
}
