.ProseMirror {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;

    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;

    /* Identical styling required!! */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 0.5rem;
    font: inherit;

    min-height: 150px; 

    background-color: hsla(0,0%,100%,.05);

    width: 100%;
    
    cursor: text;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.ProseMirror > p {
    padding-top: 0;
    font-size: inherit;
}

.ProseMirror > code {
    padding-top: 0;
    font-size: inherit;
}

.ProseMirror > a {
    padding-top: 0;
    font-size: inherit;
}

.contenteditableSpan {
    display:inline-block;
    border: solid 1px black;
    background: white;
    min-width: 200px;
    padding: 0 2px;
}

.menu {
    background-color: hsla(0, 0%, 0%, 1);
    border-color: #FFFFFF15;
    border-width: 1px;
    width:100%;
    padding:0.375rem; 
    position:relative;
    border-radius: 8px;;
    cursor: pointer;
    padding: 2.5px 5px 2.5px;
}

.menuItem {
    display: inline-block;
    margin: 0px 5px 0px;
}

.linkInput {
    font: inherit;
    padding-top: 0;     
    padding-bottom: 0;     
    border-radius: 8px;
    width: 100%;
    margin-top: 24px;
}

.linkIcon {
    margin-bottom: 2px;
}


.white {
    background: white;
    background-size: 200% auto;

    color: white;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modalButtons {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.addButton {
  padding-left: 6px;
}

.cancelButton { 
  padding-right: 6px;
}