.modal {
    background-color: hsla(0, 0%, 15%, 1);
    width:100%;
    max-width:576px;
    padding:3rem; 
    position:relative;
    border-radius:0.375rem;
    z-index: 9999;
}

.modalButtons {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.overlay {
    background-color: hsla(0,0%,100%,.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display:flex;
    align-items: center;
    justify-content:center;
    z-index: 8000;
}
